/* .container {
  position: relative;
  width: 640px;
  height: 480px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.scene{
  position: absolute;
  z-index: 3;
} */

.flip-horizontal{
  transform: scaleX(-1);

}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}